In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

%matplotlib inline

In [5]:
os.getcwd()

'/Users/Daniel1020/Documents/Business Analytics/Python/Project'

In [2]:
os.chdir('/Users/Daniel1020/Downloads')

# Data Processing

In [62]:
population = pd.read_csv('population.csv')
demographic = pd.read_csv('demographic.csv')
sales = pd.read_csv('monthly_sale.csv')
naics = pd.read_csv('competitor_sales.csv')

In [63]:
naics['City']=naics.pop('PHYSICAL CITY NAME')

#### Split city column and clean the column of 2014 population estimate

In [64]:
population[['City','County']]=population['City|County'].str.split("|",expand=True)

In [65]:
population['2014 Estimate']=population['2014 Estimate'].apply(lambda x: x.split('<')[1].replace('td>','').replace('/',''))
population['2000 Census']=population['2000 Census'].apply(lambda x: x.split('<')[1].replace('td>','').replace('/',''))
population['2010 Census']=population['2010 Census'].apply(lambda x: x.split('<')[1].replace('td>','').replace('/',''))

In [66]:
population = population[['City','County','2000 Census','2010 Census','2014 Estimate']]
population['City']=population['City'].astype(str)

In [67]:
sales['tot_sale']=sales.loc[:,'January':'December'].sum(1)
sales['City']=sales['CITY']

In [72]:
sales = sales[['City','tot_sale']]
sales['City'] = sales['City'].astype(str)

In [73]:
sales_population=pd.merge(sales,population,how='left',on='City')

In [76]:
population.head()

      City      County 2000 Census 2010 Census 2014 Estimate
0    Afton     Lincoln       1,818       1,911         1,968
1    Albin     Laramie         120         181           185
2   Alpine     Lincoln         550         828           845
3    Baggs      Carbon         348         440           439
4  Bairoil  Sweetwater          97         106           107